<div class="right-side">
    <div class="right-side__title">Моя учетная запись</div>
    <ul class="right-side__list">
        <li class="right-side__item"><a href="lk-contact.html" class="right-side__link">Изменить контактную информацию</a></li>
        <li class="right-side__item"><a href="lk-repass.html" class="right-side__link">Изменить свой пароль</a></li>
        <li class="right-side__item"><a href="lk-favorite.html" class="right-side__link">Посмотреть избранное</a></li>
    </ul>
    <div class="right-side__title">Мои заказы</div>
    <ul class="right-side__list">
        <li class="right-side__item active"><a href="lk-index.html" class="right-side__link">История заказов</a></li>
    </ul>
</div>    