<div class="remodal" data-remodal-id="select-city">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="remodal__title">Выбор города</div>
  <div class="remodal__content">
    <div class="remodal__city">
        <ul class="remodal__list">
            <li class="remodal__item"><a href="#">Москва</a></li>
            <li class="remodal__item"><a href="#">Ижевск</a></li>
            <li class="remodal__item"><a href="#">Киров</a></li>
            <li class="remodal__item"><a href="#">Санкт Петербург</a></li>
            <li class="remodal__item"><a href="#">Нижний Новгород</a></li>
            <li class="remodal__item"><a href="#">Тюмень</a></li>
            <li class="remodal__item"><a href="#">Челябинск</a></li>
            <li class="remodal__item"><a href="#">Омск</a></li>
            <li class="remodal__item"><a href="#">Москва</a></li>
            <li class="remodal__item"><a href="#">Ижевск</a></li>
            <li class="remodal__item"><a href="#">Киров</a></li>
            <li class="remodal__item"><a href="#">Санкт Петербург</a></li>
            <li class="remodal__item"><a href="#">Нижний Новгород</a></li>
            <li class="remodal__item"><a href="#">Тюмень</a></li>
            <li class="remodal__item"><a href="#">Челябинск</a></li>
            <li class="remodal__item"><a href="#">Омск</a></li>
            <li class="remodal__item"><a href="#">Москва</a></li>
            <li class="remodal__item"><a href="#">Ижевск</a></li>
            <li class="remodal__item"><a href="#">Киров</a></li>
            <li class="remodal__item"><a href="#">Санкт Петербург</a></li>
            <li class="remodal__item"><a href="#">Нижний Новгород</a></li>
            <li class="remodal__item"><a href="#">Тюмень</a></li>
            <li class="remodal__item"><a href="#">Челябинск</a></li>
            <li class="remodal__item"><a href="#">Омск</a></li>
        </ul>
    </div>
  </div> 
  <div class="remodal__footer">
    <i class="remodal__ficon">
        <svg class="remodal__svg">
            <use xlink:href="img/sprite.svg#icon-box"></use>
        </svg>
    </i>
    <span>Доставляем заказы быстро и качественно</span>
  </div>
</div>


<div class="remodal remodal--min" data-remodal-id="auth">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="remodal__title">Вход</div>
  <div class="remodal__content">
    <form action="#" class="form">
        <div class="form__group">
            <div class="form__label">
                <label for="">Логин</label>
            </div>
            <input type="text" class="form__input"/>
        </div>
        <div class="form__group">
            <div class="form__label">
                <label for="">Пароль</label>
            </div>
            <input type="text" class="form__input"/>
        </div>
        <div class="form__group form__group--center">
            <button type="submit" class="form__btn">Войти</button>
        </div>
    </form>
  </div> 
  <div class="remodal__footer remodal__footer--center">
    <span>Отправляя форму вы соглашаетесь с <a href="#">Политикой конфиденциальности</a></span>
  </div>
</div>

<div class="remodal remodal--min" data-remodal-id="reg">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="remodal__title">Регистрация</div>
  <div class="remodal__content">
    <form action="#" class="form">
        <div class="form__group">
            <div class="form__label">
                <label for="">Логин</label>
            </div>
            <input type="text" class="form__input"/>
        </div>
        <div class="form__group">
            <div class="form__label">
                <label for="">Email</label>
            </div>
            <input type="text" class="form__input"/>
        </div>
        <div class="form__group form__group--center">
            <a href="#repass" class="form__repass">Забыли пароль?</a>
            <button type="submit" class="form__btn">Регистрация</button>
        </div>
    </form>
  </div> 
  <div class="remodal__footer remodal__footer--center">
    <span>Отправляя форму вы соглашаетесь с <a href="#">Политикой конфиденциальности</a></span>
  </div>
</div>

<div class="remodal remodal--min" data-remodal-id="repass">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="remodal__title">Восстановление пароля</div>
  <div class="remodal__content">
    <form action="#" class="form">
        <div class="form__group">
            <div class="form__label">
                <label for="">Email</label>
            </div>
            <input type="text" class="form__input"/>
        </div>
        <div class="form__group form__group--center">
            <a href="#auth" class="form__repass">Вход</a>
            <button type="submit" class="form__btn">Отправить</button>
        </div>
    </form>
  </div> 
  <div class="remodal__footer remodal__footer--center">
    <span>Отправляя форму вы соглашаетесь с <a href="#">Политикой конфиденциальности</a></span>
  </div>
</div>