---
title: Личный кабинет / История заказов
---
{% extends "layouts/_lk.html" %}

{% block content %}

<div class="overflow">
<table class="stable">
    <thead>
        <tr>
            <td>№ Заказа</td>
            <td>Клиент</td>
            <td>Колличество</td>
            <td>Статус</td>
            <td>Всего</td>
            <td>Добавлено</td>
            <td> </td>
        </tr>
    </thead>
    <tr>
        <td>#3017</td>
        <td>Родин константин</td>
        <td>1</td>
        <td>Ожидание</td>
        <td>2181</td>
        <td>12.07.2018	</td>
        <td>
            <a href="#" class="btn-icon btn-icon--blue">
                <i>
                    <svg class="btn-icon__icon">
                        <use xlink:href="img/sprite.svg#icon-cart"></use>
                    </svg>
                </i>
                <div class="btn-icon__name">Просмотр</div>
            </a>
        </td>
    </tr>
    <tr>
        <td>#3017</td>
        <td>Родин константин</td>
        <td>1</td>
        <td>Ожидание</td>
        <td>2181</td>
        <td>12.07.2018	</td>
        <td>
            <a href="#" class="btn-icon btn-icon--blue">
                <i>
                    <svg class="btn-icon__icon">
                        <use xlink:href="img/sprite.svg#icon-cart"></use>
                    </svg>
                </i>
                <div class="btn-icon__name">Просмотр</div>
            </a>
        </td>
    </tr>
    <tr>
        <td>#3017</td>
        <td>Родин константин</td>
        <td>1</td>
        <td>Ожидание</td>
        <td>2181</td>
        <td>12.07.2018	</td>
        <td>
            <a href="#" class="btn-icon btn-icon--blue">
                <i>
                    <svg class="btn-icon__icon">
                        <use xlink:href="img/sprite.svg#icon-cart"></use>
                    </svg>
                </i>
                <div class="btn-icon__name">Просмотр</div>
            </a>
        </td>
    </tr>
    <tr>
        <td>#3017</td>
        <td>Родин константин</td>
        <td>1</td>
        <td>Ожидание</td>
        <td>2181</td>
        <td>12.07.2018	</td>
        <td>
            <a href="#" class="btn-icon btn-icon--blue">
                <i>
                    <svg class="btn-icon__icon">
                        <use xlink:href="img/sprite.svg#icon-cart"></use>
                    </svg>
                </i>
                <div class="btn-icon__name">Просмотр</div>
            </a>
        </td>
    </tr>
    <tr>
        <td>#3017</td>
        <td>Родин константин</td>
        <td>1</td>
        <td>Ожидание</td>
        <td>2181</td>
        <td>12.07.2018	</td>
        <td>
            <a href="#" class="btn-icon btn-icon--blue">
                <i>
                    <svg class="btn-icon__icon">
                        <use xlink:href="img/sprite.svg#icon-cart"></use>
                    </svg>
                </i>
                <div class="btn-icon__name">Просмотр</div>
            </a>
        </td>
    </tr>
</table>
</div>

{% endblock %}

		          
		   
	        
	        
	      	      
