---
title: Личный кабинет / Изменить пароль
---
{% extends "layouts/_lk.html" %}

{% block content %}

<div class="lk-form">
    <form action="#" class="form">
        <div class="form__group">
            <div class="form__label">
                <label for="">Пароль</label>
            </div>
            <input type="text" class="form__input">
        </div>
        <div class="form__group">
            <div class="form__label">
                <label for="">Повторите пароль</label>
            </div>
            <input type="text" class="form__input">
        </div>
        <div class="form__group">
            <button type="submit" class="form__btn">Сохранить</button>
        </div>
    </form>
</div>

{% endblock %}

		          
		   
	        
	        
	      	      
