---
title: Главная страница
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="main-product">
    <div class="container">
        <div class="main-product__wrap">
            <div class="main-product__cnav">
                <div class="cnav">
                    <a class="cnav__arr cnav__arr--left">
                        <svg class="cnav__icon">
                            <use xlink:href="img/sprite.svg#icon-arr"></use>
                        </svg>
                    </a>
                    <div class="cnav__title">Новинки</div>
                    <a class="cnav__arr cnav__arr--right">
                        <svg class="cnav__icon">
                            <use xlink:href="img/sprite.svg#icon-arr"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="main-product__nav">
                <div class="action-nav">
                    <ul class="action-nav__list">
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">НОВИНКИ</a>
                        </li>
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">ТОП 100</a>
                        </li>
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">АКЦИИ</a>
                        </li>
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">РАСПРОДАЖА</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-product__carousel owl-carousel">
                {# BEGIN search panel #}
                {% include "partials/_product-item.html" %}
                {% include "partials/_product-item.html" %}
                {% include "partials/_product-item.html" %}
                {# END search panel #}
            </div>
        </div>
    </div>
</section>
	
<section class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__item">
                <i><img src="img/main/adv1.png"/></i>
                <div class="advantages__text">100% Актуальность товара</div>
            </div>
            <div class="advantages__item">
                <i><img src="img/main/adv2.png"/></i>
                <div class="advantages__text">Персональный менеджер</div>
            </div>
            <div class="advantages__item">
                <i><img src="img/main/adv3.png"/></i>
                <div class="advantages__text">Доставка по всей России</div>
            </div>
            <div class="advantages__item">
                <i><img src="img/main/adv4.png"/></i>
                <div class="advantages__text">Накопительная система скидок</div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="content__wrap">
            <div class="content__col content__col--2col">
                <h2 class="content__title">Модная ткань по оптовым ценам</h2>
                <p>Компания «LEDA» уже более 20 лет предоставляет возможность 
                купить высококачественные натуральные и искусственные ткани в 
                розницу и оптом жителям и предприятиям Москвы, а также всех 
                регионов России. Самые разнообразные ткани, интернет-магазин 
                нашей компании, реализует на доступных и выгодных условиях 
                для каждого покупателя.</p> 

                <p>Огромный ассортимент полотен, низкие цены и накопительная 
                система скидок – это приоритетные составляющие, которые с каждым 
                годом привлекают в наш интернет-магазин все большее количество 
                постоянных клиентов.</p>
            </div>
            <div class="content__col content__col--2col">
                <h2 class="content__title">«LEDA» - ваш помощник в выборе тканей</h2>
                <p>Выбор ткани, подходящий для пошива той или иной одежды, всегда 
                не прост. Надо знать какие из них дают существенную усадку, а 
                какие сложны в раскрое. Однако наш интернет-магазин реализует не 
                только текстильную продукцию. Специалисты нашей компании – это 
                высококвалифицированные конструкторы и технологи швейного дела, 
                поэтому каждый наш покупатель гарантировано получит исчерпывающую 
                информацию о каждом полотне.</p>
 
                <p>Каталог текстильной продукции вмещает также качественные 
                реальные фото, которые максимально точно передают оттенок и 
                структуру ткани. В описании указан состав полотен и его цена 
                за 1 метр. А удобный алфавитный сервис для поиска, сэкономит 
                ваше время в подборе необходимых тканей.</p>
 
                <p>Купить ткани в интернет-магазине по оптовой цене можно уже
                сегодня – все представленные полотна имеются в наличии.</p>
            </div>
        </div>
        <div class="content__wrap">
            <div class="content__col">
                <h3 class="content__subtitle">Мы позаботились о своевременных поставках продукции:</h3>
                <div class="content__list">
                    <div class="content__item">натуральные шелка, хлопок и лен</div>
                    <div class="content__item">эластичная вискоза и мягкий трикотаж</div>
                    <div class="content__item">нежнейшие кружева и гипюр</div>
                    <div class="content__item">искусственные кожа и замша</div>
                    <div class="content__item">марлевка и джинс</div>
                    <div class="content__item">меховые ткани, костюмные и пальтовые</div>
                    <div class="content__item">креп и лодены</div>
                    <div class="content__item">пайетки и бархат</div>
                </div>
                <p class="content__bold">Разнообразие полотен приятно вас порадует. Итальянские, корейские, 
                французские ткани готовы к отгрузке на ваше производство.</p>
            </div>
        </div>
        <div class="content__wrap">
            <div class="content__col">
                <h2 class="content__title">Условия продажи и доставки</h2>
            </div>
            <div class="content__col content__col--2col">
                <p>Текстильная продукция реализуется не только оптом, но и в розницу. 
                Покупатели имеют возможность предварительно заказать образцы тканей, а 
                отгрузка материала совершается при минимальном заказе ткани от 3 метров.</p>
 
                <p>Для  наших клиентов мы  постоянно проводим различные виды акций, а став 
                нашим постоянным покупателем, вы гарантировано при следующем визите в наш 
                магазин, сможете воспользоваться скидкой, которая будет увеличиваться при 
                каждой покупке.</p>
            </div>
            <div class="content__col content__col--2col">
                <p>В разделе «доставка и цены» вы найдете информацию о всех возможных 
                способах получения продукции – это может быть самовывоз со склада в Москве, 
                курьерская доставка и пересылка тканей по регионам России.</p>
 
                <p>Ткани интернет-магазина не оставят вас равнодушными, порадуют своим 
                высоким качеством и ценой. Наш онлайн-чат открыт для вас – добро пожаловать 
                в «LEDA».</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
