---
title: Главная страница
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="main-product">
    <div class="container">
        <div class="main-product__wrap">
            <div class="main-product__cnav">
                <div class="cnav">
                    <a class="cnav__arr cnav__arr--left">
                        <svg class="cnav__icon">
                            <use xlink:href="img/sprite.svg#icon-arr"></use>
                        </svg>
                    </a>
                    <div class="cnav__title">Новинки</div>
                    <a class="cnav__arr cnav__arr--right">
                        <svg class="cnav__icon">
                            <use xlink:href="img/sprite.svg#icon-arr"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="main-product__nav">
                <div class="action-nav">
                    <ul class="action-nav__list">
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">НОВИНКИ</a>
                        </li>
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">ТОП 100</a>
                        </li>
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">АКЦИИ</a>
                        </li>
                        <li class="action-nav__item">
                            <a href="" class="action-nav__link btn-big">РАСПРОДАЖА</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-product__carousel owl-carousel js--product-carousel">
                {# BEGIN search panel #}
                {% include "partials/_product-item.html" %}
                {% include "partials/_product-item.html" %}
                {% include "partials/_product-item.html" %}
                {# END search panel #}
            </div>
        </div>
    </div>
</section>
	
<section class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__item">
                <i><img src="img/main/adv1.png"/></i>
                <div class="advantages__text">100% Актуальность товара</div>
            </div>
            <div class="advantages__item">
                <i><img src="img/main/adv2.png"/></i>
                <div class="advantages__text">Персональный менеджер</div>
            </div>
            <div class="advantages__item">
                <i><img src="img/main/adv3.png"/></i>
                <div class="advantages__text">Доставка по всей России</div>
            </div>
            <div class="advantages__item">
                <i><img src="img/main/adv4.png"/></i>
                <div class="advantages__text">Накопительная система скидок</div>
            </div>
        </div>
    </div>
</section>

{# BEGIN seo panel #}
{% include "partials/_seo-content.html" %}
{# END sep panel #}

{% endblock %}
