---
title: Карточка товара
seotext: false
---
{% extends "layouts/_other.html" %}

{% block content %}

<h1 class="title">Ткань батист (заголовок продукта)</h1>

<div class="product">
    <div class="product__left">
        <div class="product__gallery">
            <img src="img/content/catalog.jpg" width="100%"/>
        </div>
        <div class="product__content">
            <p>Тонкая курточная ткань. Подойдет на плащ, куртку или пальто. 
            Цвет: фон - белый; принт - красный, зеленый, бежевый; изнаночная - белый.</p>
        </div>
    </div>
    <div class="product__right">
        <div class="product__rtitle">Информация о товаре</div>
        <div class="product__rch">
            <div class="pch">
                <div class="pch__item">Артикул: <span>000671</span></div>
                <div class="pch__item">Регулярные: <span>да</span></div>
                <div class="pch__item">Производитель: <span>Корея</span></div>
                <div class="pch__item">Состав: <span>ВИС 100%</span></div>
                <div class="pch__item">Ширина: <span>140</span></div>
                <div class="pch__item">Цвет: <span>горчичный</span></div>
                <div class="pch__item">Тип основы: <span>искусственная</span></div>
            </div>
        </div>
        <div class="product__prices">
            <div class="product__price">Цена:  <span>4325</span> р.</div>
            <div class="product__price product__price--old"><span>4563</span> р.</div>
        </div>
        <div class="product__remain">Доступно к заказу: 98.3 м.</div>
        <div class="product__count">
            <div class="count">
                <button class="count__btn count__btn--prev" data-multi="-0.1">-</button>
                <input type="text" class="count__count" value="1.0" data-max="93.8" data-step="0.1"/>
                <button class="count__btn count__btn--next" data-multi="0.1">+</button>
            </div>
        </div>
        <div class="product__fcart">
            <div class="fcart fcart--product">
                <a href="" class="fcart__btn fcart__btn--cart fcart__btn--product">
                    <i>
                        <svg class="fcart__icon">
                            <use xlink:href="img/sprite.svg#icon-cart"></use>
                        </svg>
                    </i>
                    <div class="fcart__name fcart__name--price">В корзину</div>
                </a>
                <a href="" class="fcart__btn fcart__btn--favorite">
                    <i>
                        <svg class="fcart__icon">
                            <use xlink:href="img/sprite.svg#icon-like"></use>
                        </svg>
                    </i>
                    <div class="fcart__name">Избранное</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="product__carousel">
    <div class="cnav product__cnav">
        <a class="cnav__arr cnav__arr--left">
            <svg class="cnav__icon">
                <use xlink:href="img/sprite.svg#icon-arr"></use>
            </svg>
        </a>
        <div class="cnav__title cnav__title--product">Следующий товар в данной категории:</div>
        <a class="cnav__arr cnav__arr--right">
            <svg class="cnav__icon">
                <use xlink:href="img/sprite.svg#icon-arr"></use>
            </svg>
        </a>
    </div>
    <div class="owl-carousel js--product-carousel">
        {# BEGIN search panel #}
        {% include "partials/_product-item.html" %}
        {% include "partials/_product-item.html" %}
        {% include "partials/_product-item.html" %}
        {# END search panel #}
    </div>
</div>

{% endblock %}
