{# BEGIT modal #}
{% include "../partials/modal/_modal.html" %}
{# END modal #}

<section class="footer">
    <div class="container">
        <div class="footer__wrap">
            <a href="#" class="footer__logo"><img src="img/flogo.png" alt=""/></a>
            <ul class="footer__nav list">
                <li class="footer__item"><a href="#" class="footer__link">О нас</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Заказ образцов</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Отзывы</a></li>
            </ul>
            <ul class="footer__nav list">
                <li class="footer__item"><a href="#" class="footer__link">Новости</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Статьи</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Контакты</a></li>
            </ul>
            <div class="subnav subnav--footer">
                <ul class="subnav__list">
                    <li class="subnav__item">
                        <i class="icon">
                            <svg class="icon__svg">
                                <use xlink:href="img/sprite.svg#icon-delivery"></use>
                            </svg>
                        </i>
                        <a href="#" class="subnav__link">Оплата и доставка</a>
                    </li>
                    <li class="subnav__item">
                        <i class="icon">
                            <svg class="icon__svg">
                                <use xlink:href="img/sprite.svg#icon-percent"></use>
                            </svg>
                        </i>
                        <a href="#" class="subnav__link">Цены и скидки</a>
                    </li>
                </ul>
            </div>
            <div class="footer__contact">
                <div class="footer__city">
                    <i class="icon">
                        <svg class="icon__svg">
                            <use xlink:href="img/sprite.svg#icon-marker"></use>
                        </svg>
                    </i>
                    <p>г. Москва, Бизнес парк Румянцево 20</p>
                </div>
                <div class="footer__mail">
                    <i class="icon">
                        <svg class="icon__svg">
                            <use xlink:href="img/sprite.svg#icon-mail"></use>
                        </svg>
                    </i>
                    <a href="mailto:Exxxx@mail.ru">Exxxx@mail.ru</a>
                </div>
            </div>
            <div class="footer__phone">
                <a href="tel:8-800-888-88-88" class="footer__tel">
                    <i class="icon">
                        <svg class="icon__svg">
                            <use xlink:href="img/sprite.svg#icon-phone"></use>
                        </svg>
                    </i>
                    8-800-888-88-88
                </a>
                <a href="tel:8-800-888-88-88" class="footer__tel">
                    <i class="icon">
                        <svg class="icon__svg">
                            <use xlink:href="img/sprite.svg#icon-phone"></use>
                        </svg>
                    </i>
                    8-800-888-88-88
                </a>
                <div class="social-btn">
                    <p>Мы в соц. сетях:</p>
                    <a href="" class="social-btn__link">
                        <svg class="social-btn__svg">
                            <use xlink:href="img/sprite.svg#icon-vk"></use>
                        </svg>
                    </a>
                    <a href="" class="social-btn__link">
                        <svg class="social-btn__svg">
                            <use xlink:href="img/sprite.svg#icon-fb"></use>
                        </svg>
                    </a>
                    <a href="" class="social-btn__link">
                        <svg class="social-btn__svg">
                            <use xlink:href="img/sprite.svg#icon-inst"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>