<section class="head">
    <div class="container">
        <div class="head__wrap">
            <div class="head__left">
            <a href="#" class="head__burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <a href="#" class="head__logo">
                <img src="img/logo.png" alt="">
            </a>
            </div>
            <div class="head__nav">
                <div class="subnav">
                    <ul class="subnav__list">
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">
                                <i class="icon">
                                    <svg class="icon__svg">
                                        <use xlink:href="img/sprite.svg#icon-delivery"></use>
                                    </svg>
                                </i>
                                Оплата и доставка
                            </a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">
                                <i class="icon">
                                    <svg class="icon__svg">
                                        <use xlink:href="img/sprite.svg#icon-percent"></use>
                                    </svg>
                                </i>
                                Цены и скидки
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="head__city">
                <div class="city-select">
                    <div class="city-select__mtitle">Ваш регион:</div>
                    <div class="city-select__select">
                        Набережные челны
                        <svg class="city-select__arr">
                            <use xlink:href="img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </div>
                    <div class="city-select__contact">
                        <i class="icon">
                            <svg class="icon__svg">
                                <use xlink:href="img/sprite.svg#icon-marker"></use>
                            </svg>
                        </i>
                        <p>г. Москва, Бизнес парк Румянцево 20</p>
                    </div>
                    <div class="city-select__popup">
                        <p>Ваш город <span>Набережные Челны</span>?</p>
                    </div>
                </div>
            </div>

            <div class="head__right">
                <div class="head__contact">
                    <div class="head__mail">
                        <i class="icon">
                            <svg class="icon__svg">
                                <use xlink:href="img/sprite.svg#icon-mail"></use>
                            </svg>
                        </i>
                        <a href="mailto:Exxxx@mail.ru">Exxxx@mail.ru</a>
                    </div>
                    <div class="head__phone">
                        <a href="tel:8-800-888-88-88" class="head__tel">
                            <i class="icon">
                                <svg class="icon__svg">
                                    <use xlink:href="img/sprite.svg#icon-phone"></use>
                                </svg>
                            </i>
                            8-800-888-88-88</a>
                        <a href="tel:8-800-888-88-88" class="head__tel">
                            <i class="icon">
                                <svg class="icon__svg">
                                    <use xlink:href="img/sprite.svg#icon-phone"></use>
                                </svg>
                            </i>
                            8-800-888-88-88
                        </a>
                    </div>
                </div>
                <div class="head__auth">
                    <a href="" class="head__login">
                        <i class="icon">
                            <svg class="icon__svg icon__svg--auth">
                                <use xlink:href="img/sprite.svg#icon-login"></use>
                            </svg>
                        </i>
                        Вход
                    </a>
                    <a href="" class="head__reg">
                         <i class="icon">
                            <svg class="icon__svg icon__svg--auth">
                                <use xlink:href="img/sprite.svg#icon-reg"></use>
                            </svg>
                        </i>
                        Регистрация
                    </a>
                </div>
            </div>
            <div class="head__fcart">
                <div class="fcart">
                    <a href="" class="fcart__btn fcart__btn--favorite">
                        <i>
                            <svg class="fcart__icon">
                                <use xlink:href="img/sprite.svg#icon-like"></use>
                            </svg>
                        </i>
                    </a>
                    <div class="fcart__hr"></div>
                    <a href="" class="fcart__btn fcart__btn--cart">
                        <i>
                            <svg class="fcart__icon">
                                <use xlink:href="img/sprite.svg#icon-cart"></use>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>