<div class="left-side">
    <div class="action-nav">
        <ul class="action-nav__list">
            <li class="action-nav__item">
                <a href="" class="action-nav__link btn-big">НОВИНКИ</a>
            </li>
            <li class="action-nav__item">
                <a href="" class="action-nav__link btn-big">ТОП 100</a>
            </li>
            <li class="action-nav__item">
                <a href="" class="action-nav__link btn-big">АКЦИИ</a>
            </li>
            <li class="action-nav__item">
                <a href="" class="action-nav__link btn-big">РАСПРОДАЖА</a>
            </li>
        </ul>
    </div>

    <div class="left-side__navigation">
        <div class="left-nav">
            <div class="left-nav__title">Каталог</div>
            <ul class="left-nav__list">
                <li class="left-nav__item">
                    <a href="" class="left-nav__link">Атлас <span>(25)</span></a>
                </li>
                <li class="left-nav__item active">
                    <a href="" class="left-nav__link">Батист <span>(15)</span></a>
                    <ul>
                        <li class="active"><a href="" class="left-nav__link">Батист с печатью</a></li>
                        <li><a href="" class="left-nav__link">Батист однотонный</a></li>
                    </ul>
                </li>
                <li class="left-nav__item">
                    <a href="" class="left-nav__link">Вискоза <span>(5)</span></a>
                </li>
            </ul>
        </div>
    </div>

</div>