<div class="mmenu js--mmenu">
    <div class="mmenu__wrap">
        <div class="mmenu__top">
            <a href="#" class="mmenu__close js--mmenu-close"></a>
            <a href="#" class="mmenu__logo"><img src="img/logo.png" alt=""/></a>
            <div class="mmenu__phone head__phone">
                <a href="tel:8-800-888-88-88" class="head__tel">
                    <i class="icon">
                        <svg class="icon__svg">
                            <use xlink:href="img/sprite.svg#icon-phone"></use>
                        </svg>
                    </i>
                    8-800-888-88-88</a>
                <a href="tel:8-800-888-88-88" class="head__tel">
                    <i class="icon">
                        <svg class="icon__svg">
                            <use xlink:href="img/sprite.svg#icon-phone"></use>
                        </svg>
                    </i>
                    8-800-888-88-88
                </a>
            </div>
        </div>
    
        <div class="mmenu__auth head__auth">
            <a href="#auth" class="head__login">
                <i class="icon">
                    <svg class="icon__svg icon__svg--auth">
                        <use xlink:href="img/sprite.svg#icon-login"></use>
                    </svg>
                </i>
                Вход
            </a>
            <a href="#reg" class="head__reg">
                <i class="icon">
                    <svg class="icon__svg icon__svg--auth">
                        <use xlink:href="img/sprite.svg#icon-reg"></use>
                    </svg>
                </i>
                Регистрация
            </a>
        </div>

        <div class="mmenu__nav">
            <ul class="list">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Заказ образцов</a></li>
                <li><a href="#">Отзывы</a></li>
            </ul>
            <ul class="list">
                <li><a href="#">Новости</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="subnav mmenu__subnav">
                <ul class="subnav__list">
                    <li class="subnav__item">
                        <i class="icon">
                            <svg class="icon__svg">
                                <use xlink:href="img/sprite.svg#icon-delivery"></use>
                            </svg>
                        </i>
                        <a href="#" class="subnav__link">Оплата и доставка</a>
                    </li>
                    <li class="subnav__item">
                        <i class="icon">
                            <svg class="icon__svg">
                                <use xlink:href="img/sprite.svg#icon-percent"></use>
                            </svg>
                        </i>
                        <a href="#" class="subnav__link">Цены и скидки</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mmenu__city">
            <i class="icon">
                <svg class="icon__svg">
                    <use xlink:href="img/sprite.svg#icon-marker"></use>
                </svg>
            </i>
            <p>г. Москва, Бизнес парк Румянцево 20</p>
        </div>

        <div class="mmenu__mail">
            <i class="icon">
                <svg class="icon__svg">
                    <use xlink:href="img/sprite.svg#icon-mail"></use>
                </svg>
            </i>
            <a href="mailto:Exxxx@mail.ru">Exxxx@mail.ru</a>
        </div>

        <div class="mmenu__social social-btn">
            <p>Мы в соц. сетях:</p>
            <a href="" class="social-btn__link">
                <svg class="social-btn__svg">
                    <use xlink:href="img/sprite.svg#icon-vk"></use>
                </svg>
            </a>
            <a href="" class="social-btn__link">
                <svg class="social-btn__svg">
                    <use xlink:href="img/sprite.svg#icon-fb"></use>
                </svg>
            </a>
            <a href="" class="social-btn__link">
                <svg class="social-btn__svg">
                    <use xlink:href="img/sprite.svg#icon-inst"></use>
                </svg>
            </a>
        </div>

         <div class="city-select mmenu__city-select">
            <div class="city-select__mtitle">Ваш регион:</div>
            <a class="city-select__select" href="#select-city">
                Набережные челны
                <svg class="city-select__arr">
                    <use xlink:href="img/sprite.svg#icon-arrow"></use>
                </svg>
            </a>
            <div class="city-select__contact">
                <i class="icon">
                    <svg class="icon__svg">
                        <use xlink:href="img/sprite.svg#icon-marker"></use>
                    </svg>
                </i>
                <p>г. Москва, Бизнес парк Румянцево 20</p>
            </div>
            <div class="city-select__popup">
                <p>Ваш город <span>Набережные Челны</span>?</p>
            </div>
        </div>

    </div>
</div>