<div class="product-item">
    <a href="#" class="product-item__link">
        <div class="product-item__image">
            <img src="img/product-item/img.jpg" alt=""/>
        </div>
        <div class="product-item__desc">
            <div class="product-item__title">Атласная курточная ткань</div>
            <div class="product-item__characteristics">
                <div class="product-item__characteristics-item">Артикул: <span>И11279</span></div>
            </div>
            <div class="product-item__price">
                Цена: 
                <span class="product-item__cost">1091</span> 
                <span class="product-item__currency">руб.</span>
            </div>
        </div>
    </a>
</div>