<section class="content">
    <div class="container">
        <div class="content__wrap">
            <div class="content__col content__col--2col">
                <h2>Модная ткань по оптовым ценам</h2>
                <p>Компания «LEDA» уже более 20 лет предоставляет возможность 
                купить высококачественные натуральные и искусственные ткани в 
                розницу и оптом жителям и предприятиям Москвы, а также всех 
                регионов России. Самые разнообразные ткани, интернет-магазин 
                нашей компании, реализует на доступных и выгодных условиях 
                для каждого покупателя.</p> 

                <p>Огромный ассортимент полотен, низкие цены и накопительная 
                система скидок – это приоритетные составляющие, которые с каждым 
                годом привлекают в наш интернет-магазин все большее количество 
                постоянных клиентов.</p>
            </div>
            <div class="content__col content__col--2col">
                <h2>«LEDA» - ваш помощник в выборе тканей</h2>
                <p>Выбор ткани, подходящий для пошива той или иной одежды, всегда 
                не прост. Надо знать какие из них дают существенную усадку, а 
                какие сложны в раскрое. Однако наш интернет-магазин реализует не 
                только текстильную продукцию. Специалисты нашей компании – это 
                высококвалифицированные конструкторы и технологи швейного дела, 
                поэтому каждый наш покупатель гарантировано получит исчерпывающую 
                информацию о каждом полотне.</p>
 
                <p>Каталог текстильной продукции вмещает также качественные 
                реальные фото, которые максимально точно передают оттенок и 
                структуру ткани. В описании указан состав полотен и его цена 
                за 1 метр. А удобный алфавитный сервис для поиска, сэкономит 
                ваше время в подборе необходимых тканей.</p>
 
                <p>Купить ткани в интернет-магазине по оптовой цене можно уже
                сегодня – все представленные полотна имеются в наличии.</p>
            </div>
        </div>
        <div class="content__wrap">
            <div class="content__col">
                <h3>Мы позаботились о своевременных поставках продукции:</h3>
                <ul>
                    <li>натуральные шелка, хлопок и лен</li>
                    <li>эластичная вискоза и мягкий трикотаж</li>
                    <li>нежнейшие кружева и гипюр</li>
                    <li>искусственные кожа и замша</li>
                    <li>марлевка и джинс</li>
                    <li>меховые ткани, костюмные и пальтовые</li>
                    <li>креп и лодены</li>
                    <li>пайетки и бархат</li>
                </ul>
                <p><strong>Разнообразие полотен приятно вас порадует. Итальянские, корейские, 
                французские ткани готовы к отгрузке на ваше производство.</strong></p>
            </div>
        </div>
        <div class="content__wrap">
            <div class="content__col">
                <h2>Условия продажи и доставки</h2>
            </div>
            <div class="content__col content__col--2col">
                <p>Текстильная продукция реализуется не только оптом, но и в розницу. 
                Покупатели имеют возможность предварительно заказать образцы тканей, а 
                отгрузка материала совершается при минимальном заказе ткани от 3 метров.</p>
 
                <p>Для  наших клиентов мы  постоянно проводим различные виды акций, а став 
                нашим постоянным покупателем, вы гарантировано при следующем визите в наш 
                магазин, сможете воспользоваться скидкой, которая будет увеличиваться при 
                каждой покупке.</p>
            </div>
            <div class="content__col content__col--2col">
                <p>В разделе «доставка и цены» вы найдете информацию о всех возможных 
                способах получения продукции – это может быть самовывоз со склада в Москве, 
                курьерская доставка и пересылка тканей по регионам России.</p>
 
                <p>Ткани интернет-магазина не оставят вас равнодушными, порадуют своим 
                высоким качеством и ценой. Наш онлайн-чат открыт для вас – добро пожаловать 
                в «LEDA».</p>
            </div>
        </div>
    </div>
</section>