<section class="slider">
    <div class="slider__carousel owl-carousel">
        <div class="slider__item" style="background-image: url(img/slider/item.jpg);">
            <div class="container">
                <div class="slider__content">
                    <div class="slider__lay">
                        <div class="slider__text">
                            <p>30% скидка на вискозу и другие ткани</p>
                        </div>
                        <a href="" class="btn-big btn-big--white">Посмотреть все скидки</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item" style="background-image: url(img/slider/item.jpg);">
            <div class="container">
                <div class="slider__content">
                    <div class="slider__lay">
                        <div class="slider__text">
                            <p>30% скидка на вискозу и другие ткани</p>
                        </div>
                        <a href="" class="btn-big btn-big--white">Посмотреть все скидки</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>