<section class="top">
    <div class="container">
        <div class="top__wrap">
            <div class="top__catalog">
                <a href="#" class="btn-big">Каталог</a>
            </div>
            <div class="top__search">
                <form action="" class="search">
                    <input type="text" class="search__input" placeholder='Поиск по сайту'>
                    <input type="submit" class="search__submit" value="">
                </form>
            </div>
            <div class="top__fcart">
                <div class="fcart">
                    <a href="" class="fcart__btn fcart__btn--favorite">
                        <i>
                            <svg class="fcart__icon">
                                <use xlink:href="img/sprite.svg#icon-like"></use>
                            </svg>
                        </i>
                        <div class="fcart__name">Избранное</div>
                    </a>
                    <div class="fcart__hr"></div>
                    <a href="" class="fcart__btn fcart__btn--cart">
                        <i>
                            <svg class="fcart__icon">
                                <use xlink:href="img/sprite.svg#icon-cart"></use>
                            </svg>
                        </i>
                        <div class="fcart__name fcart__name--price">25 000 руб.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>