.footer
    background: #3a4247
    padding: 2rem 0
    & .list a, & a
        color: #e5edf0
        &:hover
            color: #ffffff
    &__wrap
        display: flex
        justify-content: space-between
    &__logo
        margin-top: 0.25rem
        margin-right: 2rem
        max-width: 7rem
    &__nav
        padding: 0
        margin: 0
        display: none
        +rmin($sm)
            display: block
    
    &__contact
        display: none
        +rmin($lg)
            display: block
            width: 13rem
    &__city
        display: flex
        & p
            color: #e5edf0
    &__mail
        display: flex

    &__phone
        text-align: right
    &__tel
        display: block
        color: #e5edf0
        margin-bottom: 0.125rem
        font-family: 'MuseoMedium'