.product-item
    &__link
        display: block
        background: #ffffff
        &:hover
            color: $text
    &__desc
        padding: 1rem
    &__title
        font-family: 'MuseoBold'
        line-height: 1.3
    &__characteristics
        margin: 0.5rem 0
        &-item 
            color: #a8a1ba
            font-size: 0.875rem
            & span 
                color: $text
    &__price
        font-size: 0.875rem
    &__cost
        font-size: 1.125rem
        font-family: 'MuseoBold'
        color: $linkBlue
    &__currency
        color: $linkBlue