{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css"/>
    <link rel="stylesheet" media="all" href="css/app.css?ver=2"/>
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>
    {# BEGIT head #}
    {% include "../partials/_head.html" %}
    {# END head #}

    {# BEGIN search panel #}
    {% include "../partials/_top.html" %}
    {# END search panel #}

    {# BEGIN breadcrumb panel #}
    {% include "../partials/_breadcrumb.html" %}
    {# END breadcrumb panel #}

    <section class="cart">
        <div class="container">
            <h1 class="title">{{ title }}</h1>
            <div class="cart__wrap">
                <div class="cart__left">
                    <!-- BEGIN content -->
                    {% block content %}{% endblock %}
                    <!-- END content -->
                </div>
                <div class="cart__right">
                    {# BEGIN left-side panel #}
                    {% include "partials/cart/_cright.html" %}
                    {# END left-side panel #}
                </div>
            </div>
        </div>
    </section>

    {# BEGIN seo panel #}
    {% if seotext %}{% include "partials/_seo-content.html" %}{% endif %}
    {# END sep panel #}

    {# BEGIN footer panel #}
    {% include "../partials/_footer.html" %}
    {# END footer panel #}

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js?ver=2"></script>
    <!-- END scripts -->

  </body>
</html>
