<div class="filter">
    <!-- Sort -->
    <div class="filter__s">
        <div class="filter__stitle js--filter-open">Сортировка</div>
        <div class="filter__slist js--filter-list">
            <a href="#" class="filter__sbtn">По дате добавления</a>
            <a href="#" class="filter__sbtn">По возрастанию ценя</a>
            <a href="#" class="filter__sbtn">По убыванию цен</a>
        </div>
    </div>
    <!-- filter -->
    <div class="filter__f">
        <div class="filter__ftitle js--filter-open">Фильтр</div>
        <div class="filter__flist js--filter-list">
            <div class="filter__fitem">
                <a href="javascript:void(0);" tabindex="1" class="filter__ptitle">По назначению</a>
                <ul class="filter__plist">
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                </ul>
            </div>
            <div class="filter__fitem">
                <a href="#" class="filter__ptitle">По назначению</a>
                <ul class="filter__plist">
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                </ul>
            </div>
            <div class="filter__fitem">
                <a href="#" class="filter__ptitle">По назначению</a>
                <ul class="filter__plist">
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                </ul>
            </div>
            <div class="filter__fitem">
                <a href="#" class="filter__ptitle">По назначению</a>
                <ul class="filter__plist">
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                    <li class="filter__pitem"><a href="" class="filter__plink">плательные ткани</a></li>
                </ul>
            </div>
            <div class="filter__fitem">
                <select name="" id="" class="filter__select">
                    <option value="1">Красный</option>
                    <option value="1">Синий</option>
                    <option value="1">Голубой</option>
                    <option value="1">Зеленый</option>
                </select>
            </div>
            <div class="filter__fitem">
                <select name="" id="" class="filter__select">
                    <option value="1">Красный</option>
                    <option value="1">Синий</option>
                    <option value="1">Голубой</option>
                    <option value="1">Зеленый</option>
                </select>
            </div>
        </div>
    </div>
</div>