<div class="product-item product-item--catalog">
    <div class="badges">
        <div class="badges__list">
            <div class="badges__item badges__item--sale">30%</div>
        </div>
    </div>
    <a href="#" class="product-item__link">
        <div class="product-item__image">
            <img src="img/content/catalog.jpg" alt=""/>
        </div>
    </a>
    <div class="product-item__desc">
        <a href="" class="product-item__title">Батист хлопок-шелк</a>
        <div class="product-item__characteristics">
            <div class="product-item__characteristics-item">Артикул: <span>И07311</span></div>
            <div class="product-item__characteristics-item">Состав: <span>ХБ50%ШЕЛК50%</span></div>
            <div class="product-item__characteristics-item">Ширина: <span>140</span></div>
            <div class="product-item__characteristics-item">Цвет: <span>сине-желтый</span></div>
        </div>
        <div class="product-item__prices">
            <div class="product-item__price">Цена:  <span>4325<span> р.</div>
            <div class="product-item__price product__price--old"><span>4563</span> р.</div>
        </div>
        <div class="product-item__btns">
            <a href="" class="product-item__btn product-item__btn--cart">В корзину</a>
            <a href="" class="product-item__btn product-item__btn--favorite">В избранное</a>
        </div>
        <div class="product-item__remain">Доступно к заказу: 98.3 м.</div>
    </div>    
</div>