.icon-arr {
  width: 1em;
  height: 1em;
  fill: #1e201d;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-box {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delivery {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dtruck {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-login {
  width: 1em;
  height: 1em;
  fill: #231f20;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-marker {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-percent {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-reg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-trash {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
