<div class="news__item">
    <a href="" class="news__img"><img src="img/content/img.jpg" alt=""></a>
    <div class="news__pc">
        <a href="" class="news__title">Уважаемые клиенты, в данный момент курс на сайте не актуален</a>
        <p class="date">Опубликовано 20.07.2018</p>
        <p>Уважаемые клиенты, в данный момент курс на сайте не актуален, т.к. курс валют слетел. 
Сейчас программисты устраняют этот нюанс</p>
        <a href="#" class="news__more">Читать полностью</a>
    </div>
</div>